body, h1, h2, label, input, button {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}




.container {
    max-width: 550px;
    margin: 0 auto;
    padding: 30px;
}


.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #4da1fa;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-body {
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    font-weight: bold;
    color: #515151;
}

.form-control {
    width: 94%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 0 auto; 
}


.btn-primary {
    background-color: #4da1fa;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}


a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}


@media (max-width: 768px) {
    .container {
        margin-top: 15px;
    }
}


.alert {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 3px;
}

.alert-danger {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}

.alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}


a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}

.bemember {
    text-decoration: none;
    color: #007BFF;
    padding: 1%;
}